.home-cards-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
    margin-bottom: 5%;
}

.home-chart {
    width: 100%;
    height: 60%;
}


.home-bottom-info-box {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-end;
	align-content: center;
	padding-left: 30px;
	padding-right: 30px;
}

.home-main-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
    justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
    height: 38%;
}

.home-card {
	width: 300px;
	height: 100px;
   }

.home-card-ifno
{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.card-header {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
}

.positive {
    color: green;
}

.negative {
    color: red;
}