<div echarts [options]="options" class="home-chart"></div>

<div class="home-main-container">

    <div class = "home-cards-box">
      <mat-card class="home-card">Simple card</mat-card>
      <mat-card class="home-card">Simple card</mat-card>
      <mat-card class="home-card">Simple card</mat-card>
    </div>
    
    <div class="home-bottom-info-box">
        <mat-card>Simple card</mat-card>
        <mat-card>Simple card</mat-card>
        <mat-card>Simple card</mat-card>
        <mat-card>Simple card</mat-card>
        <mat-card>Simple card</mat-card>
        <mat-card>Simple card</mat-card>
        <mat-card>Simple card</mat-card>
        <mat-card>Simple card</mat-card>
        <mat-card>Simple card</mat-card>
        <mat-card>Simple card</mat-card>
        <mat-card>Simple card</mat-card>
        <mat-card>Simple card</mat-card>
    </div>
</div>
